In [1]:
import pandas as pd
import numpy as np

In [2]:
letters=pd.read_csv("letterdata.csv")
letters.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [3]:
letters.describe()

,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
count,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,4.023550,7.035500,5.121850,5.37245,3.505850,6.897600,7.500450,4.628600,5.178650,8.282050,6.45400,7.929000,3.046100,8.338850,3.691750,7.80120
std,1.913212,3.304555,2.014573,2.26139,2.190458,2.026035,2.325354,2.699968,2.380823,2.488475,2.63107,2.080619,2.332541,1.546722,2.567073,1.61747
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,3.000000,5.000000,4.000000,4.00000,2.000000,6.000000,6.000000,3.000000,4.000000,7.000000,5.00000,7.000000,1.000000,8.000000,2.000000,7.00000
50%,4.000000,7.000000,5.000000,6.00000,3.000000,7.000000,7.000000,4.000000,5.000000,8.000000,6.00000,8.000000,3.000000,8.000000,3.000000,8.00000
75%,5.000000,9.000000,6.000000,7.00000,5.000000,8.000000,9.000000,6.000000,7.000000,10.000000,8.00000,9.000000,4.000000,9.000000,5.000000,9.00000
max,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.00000,15.000000,15.000000,15.000000,15.000000,15.00000

In [4]:
'''
datase typically used for handwritten character recognition
or related  machine learning tasks,Here is a breakdown ot its structure

letter:represents the target class (the letter being identified
features (xbox to yedgex):these are numeric attributes
describing various geometric or statistical properties of the character
xbox and ybox:X and Y bounding box dimensions
width and height :width and height of the character bounding box
onpix:number of on pixel in the character image
xbar and ybar: mean X and Y coordinate values of on pixels
x2bar,y2bar and xybar: variance and covariance of pixel intensities
x2bar,and xy2bar additioanl stastical metrics
for special
'''

'\ndatase typically used for handwritten character recognition\nor related  machine learning tasks,Here is a breakdown ot its structure\n\nletter:represents the target class (the letter being identified\nfeatures (xbox to yedgex):these are numeric attributes\ndescribing various geometric or statistical properties of the character\nxbox and ybox:X and Y bounding box dimensions\nwidth and height :width and height of the character bounding box\nonpix:number of on pixel in the character image\nxbar and ybar: mean X and Y coordinate values of on pixels\nx2bar,y2bar and xybar: variance and covariance of pixel intensities\nx2bar,and xy2bar additioanl stastical metrics\nfor special\n'

In [5]:
#let us try carry out EDA

In [6]:
a=letters.describe()

In [7]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [8]:
train,test=train_test_split(letters,test_size=0.2)

In [9]:
#let us split the data in X and y for both train and test data

In [10]:
train_X=train.iloc[:,1:]

In [11]:
train_y=train.iloc[:,0]

In [12]:
test_X=train.iloc[:,1:]

In [13]:
test_y=train.iloc[:,0]

In [14]:
#kernal linear

In [15]:
model_linear=SVC(kernel='linear')
model_linear.fit(train_X,train_y)
pred_test_linear=model_linear.predict(test_X)

In [16]:
#Now let us check the accuracy

In [17]:
np.mean(pred_test_linear==test_y)

0.8745625

In [18]:
# 0.874

In [19]:
#kernel rbf

In [20]:
model_rbf=SVC(kernel='rbf')
model_rbf.fit(train_X,train_y)
pred_test_rbf=model_rbf.predict(test_X)

In [21]:
#Now let us check the accuracy

In [22]:
np.mean(pred_test_rbf==test_y)

0.9380625

In [23]:
# 0.9366875