# Datetime

In [1]:
from datetime import datetime

In [2]:
#To illustrate the order of argumants
my_year=2017
my_month=1
my_day=2
my_hour=13
my_minute=30
my_second=15

In [3]:
#January 2nd,2017
my_date=datetime(my_year,my_month,my_day)

In [4]:
#Defaults to 0.00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
#january 2nd 2017 at 13:30:15
my_date_time=datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

# You can grab any part from datetime object you want

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

In [10]:
import numpy as np

In [11]:
#Create an array from three dates

In [16]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [17]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [18]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

# Numpy Date Ranges

just as np.arange(start,stop,step) can be used to produce an array of evenly spaced integers. 
We can pass a dtype argument to obtain an array
of dates. Remember that the stop date is exclusive.

In [19]:
#An array of dates from 6/1/18 to 6/22/18 spaced one week apart

In [22]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [25]:
#by omitting the step value we can obtain every value based on the precision

In [26]:
#All array of dates for every year from 1968 to 1975
np.arange('1968','1976',dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975'],
      dtype='datetime64[Y]')

# Pandas Datetime Index

we will usually deal with time series as a datetime index when working with pandas dataframe;
Fortunately pandas has as lot of functions and methods to work with time series!

In [29]:
import pandas as pd

In [30]:
#The simplest way to build a DateTimeIndex is with the pd.date_range()method

In [32]:
#The week of july 8th 2018
idx=pd.date_range('7/8/2018',periods=7,freq='D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

Datetimeindex Frequenies: When we used pd.date_range() above, we had to pass in a frequency parameter 'D'.
This crated a series of 7 dates spaced one day apart

# pd.to_datetime()
#Another way is to convert incoming text with the pd.to_datetime()method#

In [41]:
import pandas as pd

idx = pd.to_datetime(['Jan 01, 2018', '1/2/18', '03-Jan-2018', None], format='mixed')
print(idx)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [43]:
#create a Numpy datetime array
some_dates=np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[D]')
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [46]:
#Convert to an index
idx=pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[s]', freq=None)

# Pandas Datetime analysis

In [47]:
#create some random data
data=np.random.randn(3,2)
cols=['A','B']
print(data)

[[-0.08004943  0.50744074]
 [ 0.68255871 -0.7498908 ]
 [-1.93426715 -0.51774363]]

In [48]:
#create a DataFrame with our random data, our date index and our columns
df=pd.DataFrame(data,idx,cols)
df

                   A         B
2016-03-15 -0.080049  0.507441
2017-05-24  0.682559 -0.749891
2018-08-09 -1.934267 -0.517744

In [50]:
#Now we can perform a typical analysis of our DataFrame

In [51]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[s]', freq=None)

In [53]:
#Latest  Date Value
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [55]:
#latest Date index Location 
df.index.argmax()

2

In [56]:
#Earliest Date Index Location
df.index.argmin()

0